	
		body{
			background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("thumb-1920-212835.JPG") no-repeat;
			background-size: cover;
			margin: 0px;
			padding: 0px;
		}
		ul{
			float: right;
			list-style: none;
		}
		ul li{
			display: inline-block;
			padding: 15px;
			text-align: center;
		}
		ul .active{
			border: 2px solid white;
			border-radius: 5px;
		}
		ul li a{
			font-family: courier;
			text-decoration: none;
			font-weight: 600;
			font-size: 26px;
			color: white;
			transition: 0.25s ease;
		}
		ul li a:hover{
			color:  orange;
		}
		.loginbox{
			width: 320px;
			height: 480px;
			top: 50%;
			left: 50%;
			position: absolute;
			transform: translate(-50%,-50%);
			box-sizing: border-box;
			padding: 80px 60px;
			font-family: courier;
			color: white;
			border: 2px solid;
			border-radius: 20px;
			background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
		}
		h2{
			margin: 0;
			padding: 0 0 40px;
			text-align: center;
			font-size: 23px;
		}
		.loginbox p{
			margin: 0;
			padding: 0;
			font-size: 20px;
			font-weight: 600;
		}
		.loginbox input{
			width: 100%;
			margin-bottom: 20px;
		}
		.loginbox input[type="text"],input[type="Password"]{
			border:none;
			border-bottom: 1px solid white;
			background: transparent;
			outline: none;
			color: white;
			font-size: 16px;
		}
		.loginbox input[type="submit"]{
			border:none;
			outline: none;
			height: 25px;
			background: orange;
			border-radius: 10px;
			color: white;
			font-size: 16px;
		}
		.loginbox input[type="submit"]:hover{
			cursor: pointer;
			background-color: darkorange;
			color:black;
		}